*{
	margin: 0px;
	padding: 0px;
}
body{
	border-radius: 200px;
}
.container{
	/*margin-top: 6px;*/
	background-color: blue;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 1fr ;
	display: grid;
	width: 100vw;
	height: 576px;
}
.sidebar{
   background-color: #CC4B2C;
   grid-row-start: 1;
   grid-row-end: 4;
   width: 20vw;
   border-radius: 20px 0px 0px 20px;
   
}
.sidebar a{
	margin-top: 50px;
	color: white;
	text-decoration: none;
	margin-inline: 20px;
	line-height: 56px;
	font-weight: bold;
}
.content{
   background-color: white;
   grid-row-start: 1;
   grid-row-end: 4;
   margin-left:-30vw;
   border-radius: 0px 20px 20px 0px;

}
.content img{
margin-top: 89px;
width: 13vw;
height: 28vh;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 50%;	
background-color: #CC4B2C;
}
.name {
   font-weight: bold;
   color: #CC4B2C;
   margin-top: 20px;
   font-size: 28px;
   text-align: center;
}
.name i{
	margin-top: 15px;
	text-align: center;
	font-size: 25px;
	letter-spacing: 20px;
}
.button a{
	line-height: 80px;
	border: 2px solid #CC4B2C;
	background-color: #CC4B2C;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}
